{% extends "base.html" %}
{% block content %}
<h2 class="title">
  <div class="waving" style="display: inline-block;" data-hover="👋">
  <div class="waving-2">Hi </div>
  </div> there!</h2>
<p>My Name is  Rahul</p>
<p>I am Rahul and I usually go by the handle @groovyghost on the interwebz. I work at <a href="https://www.contus.com/">Contus</a> where I focus mainly on backend engineering with a dash of DevOps.</p>
<p>I like to tinker with stuff around automation, monitoring, networking and containerization.</p>
<p>When not doing the "tech-y" stuff, I like to go on road trips, gaming and drawing. I also happen to listen to a lot of music and have a unapologetic love for cats and bikes.</p>
  <h2 id="Articles">Articles</h2>
  <ul class="articles">
  {% set section = get_section(path="blog/_index.md") %}
  {% for page in section.pages %}
  <li>
    <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    <p class="date">{{ page.date }}</p>
  </li>
  {% endfor %}
{% endblock content %}